### WM Versioning

* v0 - Takes date; returns start date of next shower
* v1 - Above + takes location; returns location of closest park
* v2 - Above + takes max driving time, returns optimal dark sky location within max driving time
* v3 - Above + takes date range, returns best date + best time
* v4 - Above + available as a website!

### v0 Steps

1. Create meteor-shower.csv
2. Convert relevant values to datetime
3. Write function that takes date
4. Update function to return next meteor shower name, date

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

## 1. Create meteor-shower.csv
Using Sublime:
* Select All (CMD + Ctrl + G) on existing periods, spaces, commas
* Remove processed rows to a different document so columns with standard cell lengths line up
* Some combination of Alt (drawing straight line down) and CMD (multiple location) selection

In [2]:
df = pd.read_csv('meteor-shower.csv')
df.head(3)

,Shower,Activity,Maximum Date,Maximum λ⊙,Radiant α,Radiant δ,V∞ km/s,r,ZHR
0,Antihelion Source (ANT),Dec 10–Sep 10,March–April – late May-June,NaN,see Table 6,see Table 6,30,3.0,4
1,Quadrantids (010 QUA),Dec 28–Jan 12,Jan 04,283.◦16,230◦,+49◦,41,2.1,120
2,α-Centaurids (102 ACE),Jan 28–Feb 21,Feb 08,319.◦2,210◦,−59◦,56,2.0,6

## 2. Convert relevant values to datetime
### Create 'Start Date' and 'End Date' columns from 'Activity' column

In [3]:
df['Start Date'] = df['Activity'].str[:6]
df['End Date'] = df['Activity'].str[9:]

In [4]:
df.head(3)

,Shower,Activity,Maximum Date,Maximum λ⊙,Radiant α,Radiant δ,V∞ km/s,r,ZHR,Start Date,End Date
0,Antihelion Source (ANT),Dec 10–Sep 10,March–April – late May-June,NaN,see Table 6,see Table 6,30,3.0,4,Dec 10,Sep 10
1,Quadrantids (010 QUA),Dec 28–Jan 12,Jan 04,283.◦16,230◦,+49◦,41,2.1,120,Dec 28,Jan 12
2,α-Centaurids (102 ACE),Jan 28–Feb 21,Feb 08,319.◦2,210◦,−59◦,56,2.0,6,Jan 28,Feb 21

### Add year and convert 'Start Date', 'End Date' to datetime

Pandas assigns 1900 as the year by default 

Manually assign years to dates in previous/following years using df.ix; create new columns for 'Start Date w/ Year', 'End Date w/ Year' because just using 'Start Date' or 'End Date' ends up referencing values that are already modified:

In [5]:
# df.ix[:1, 'Start Date'] = df['Start Date'] + ' 2015'
# df.ix[2:, 'Start Date'] = df['Start Date'] + ' 2016'

# produces something like Dec 10 2015 2016 - two appended dates

In [6]:
df.ix[:1, 'Start Date w/ Year'] = df['Start Date'] + ' 2015'
df.ix[2:, 'Start Date w/ Year'] = df['Start Date'] + ' 2016'

df.ix[:, 'End Date w/ Year'] = df['End Date'] + ' 2016'
df.ix[34:34, 'End Date w/ Year'] = df['End Date'] + ' 2017'

In [7]:
df['Start Date w/ Year'] = pd.to_datetime(df['Start Date w/ Year'], format='%b %d %Y')
df['End Date w/ Year'] = pd.to_datetime(df['End Date w/ Year'], format='%b %d %Y')

In [8]:
df.head(3)

,Shower,Activity,Maximum Date,Maximum λ⊙,Radiant α,Radiant δ,V∞ km/s,r,ZHR,Start Date,End Date,Start Date w/ Year,End Date w/ Year
0,Antihelion Source (ANT),Dec 10–Sep 10,March–April – late May-June,NaN,see Table 6,see Table 6,30,3.0,4,Dec 10,Sep 10,2015-12-10,2016-09-10
1,Quadrantids (010 QUA),Dec 28–Jan 12,Jan 04,283.◦16,230◦,+49◦,41,2.1,120,Dec 28,Jan 12,2015-12-28,2016-01-12
2,α-Centaurids (102 ACE),Jan 28–Feb 21,Feb 08,319.◦2,210◦,−59◦,56,2.0,6,Jan 28,Feb 21,2016-01-28,2016-02-21

Drop redundant columns including 'Activity'

In [9]:
df.drop(['Start Date', 'End Date', 'Activity'], axis=1, inplace=True)

Drop Antihelion because it goes on ~all year and ZHR is 4

In [10]:
df.drop(0, inplace=True)

In [11]:
df.head(3)

,Shower,Maximum Date,Maximum λ⊙,Radiant α,Radiant δ,V∞ km/s,r,ZHR,Start Date w/ Year,End Date w/ Year
1,Quadrantids (010 QUA),Jan 04,283.◦16,230◦,+49◦,41,2.1,120,2015-12-28,2016-01-12
2,α-Centaurids (102 ACE),Feb 08,319.◦2,210◦,−59◦,56,2.0,6,2016-01-28,2016-02-21
3,γ-Normids (118 GNO),Mar 14,354◦,239◦,−50◦,56,2.4,6,2016-02-25,2016-03-28

## 3. Write function that takes date + returns next meteor shower name, date

Assume we'll force the user to pick a date on a calendar, so we'll get an input in datetime-friendly format, ex: 2016-10-05

Sort by start date to make searching easier

In [12]:
df.sort_values('Start Date w/ Year', inplace=True)

This puts the rows slightly out of order, so reindex the dataframe

In [13]:
df.index = range(len(df))

Things that don't work:

In [14]:
# def get_shower_date(day, month, year):
#     dt_query = datetime(year, month, day)
#     for i in range(len(df)):

#         print dt_query - df[i]['Start Date w/ Year']
#         # Returns a keyerror

#         print dt_query - df.ix[i, 'Start Date w/ Year']
#         if dt_query - df.ix[i, 'Start Date w/ Year'] < timedelta(days=0):
#             print 'Boom!'
#             # This actually works... But maybe not the pandas way

# get_shower_date(15, 9, 2016)

Get all the information of the next shower after the user's date. Returns the entire row.

In [15]:
def get_next_shower(day, month, year):
    dt_query = datetime(year, month, day)
    
    for index, row in df.iterrows():
        if dt_query - row['Start Date w/ Year'] < timedelta(days=0):
            return row
        
next_shower_date = get_next_shower(15, 9, 2016)['Start Date w/ Year']

In [16]:
print get_next_shower(15, 9, 2016)

Shower                 Orionids (008 ORI)
Maximum Date                       Oct 21
Maximum λ⊙                           208◦
Radiant α                             95◦
Radiant δ                            +16◦
V∞ km/s                                66
r                                     2.5
ZHR                                    15
Start Date w/ Year    2016-10-02 00:00:00
End Date w/ Year      2016-11-07 00:00:00
Name: 18, dtype: object

To celebrate, we're making this tangible through a local website! 

(Turns out no one in the room knows how to use Django so this is getting postponed)