### WM Versioning

* v0 - Takes date; returns start date of next shower
* v1 - Above + takes location; returns location of closest park
* v2 - Above + takes max driving time, returns optimal dark sky location within max driving time
* v3 - Above + takes date range, returns best date + best time (remember that optimal shower may be ongoing)
* v4 - Above + available as a website!

### v0 Steps

1. Create meteor-shower.csv
2. Convert relevant values to datetime
3. Write function that takes date
4. Update function to return next meteor shower name, date

In [6]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

## 1. Create meteor-shower.csv
Using Sublime:
* Select All (CMD + Ctrl + G) on existing periods, spaces, commas
* Remove processed rows to a different document so columns with standard cell lengths line up
* Some combination of Alt (drawing straight line down) and CMD (multiple location) selection

In [7]:
df = pd.read_csv('meteor-shower.csv')
df.head(37)

,Shower,Activity,Maximum Date,Maximum λ⊙,Radiant α,Radiant δ,V∞ km/s,r,ZHR
0,Antihelion Source (ANT),Dec 10–Sep 10,March–April – late May-June,NaN,see Table 6,see Table 6,30,3.0,4
1,Quadrantids (010 QUA),Dec 28–Jan 12,Jan 04,283.◦16,230◦,+49◦,41,2.1,120
2,α-Centaurids (102 ACE),Jan 28–Feb 21,Feb 08,319.◦2,210◦,−59◦,56,2.0,6
3,γ-Normids (118 GNO),Feb 25–Mar 28,Mar 14,354◦,239◦,−50◦,56,2.4,6
4,Lyrids (006 LYR),Apr 16–Apr 25,Apr 22,32.◦32,271◦,+34◦,49,2.1,18
5,π-Puppids (137 PPU),Apr 15–Apr 28,Apr 23,33.◦5,110◦,−45◦,18,2.0,Var
6,η-Aquariids (031 ETA),Apr 19–May 28,May 05,45.◦5,338◦,−01◦,66,2.4,40
7,η-Lyrids (145 ELY),May 03–May 14,May 08,48.◦0,287◦,+44◦,43,3.0,3
8,Dayt. Arietids (171 ARI),May 14–Jun 24,Jun 07,76.◦6,44◦,+24◦,38,2.8,50
9,June Bootids (170 JBO),Jun 22–Jul 02,Jun 27,95.◦7,224◦,+48◦,18,2.2,Var
10,Piscis Austr. (183 PAU),Jul 15–Aug 10,Jul 28,125◦,341◦,−30◦,35,3.2,5
11,S. δ-Aquariids (005 SDA),Jul 12–Aug 23,Jul 30,127◦,340◦,−16◦,41,3.2,16
12,α-Capricornids (001 CAP),Jul 03–Aug 15,Jul 30,127◦,307◦,−10◦,23,2.5,5
13,Perseids (007 PER),Jul 17–Aug 24,Aug 12,140.◦0,48◦,+58◦,59,2.2,150
14,κ-Cygnids (012 KCG),Aug 03–Aug 25,Aug 17,145◦,286◦,+59◦,25,3.0,3
15,Aurigids (206 AUR),Aug 28–Sep 05,Aug 31,158.◦6,91◦,+39◦,66,2.5,6
16,Sept. ε-Perseids (208 SPE),Sep 05–Sep 21,Sep 09,166.◦7,48◦,+40◦,64,3.0,5
17,Dayt. Sextantids (221 DSX),Sep 09–Oct 09,Sep 27,184.◦3,152◦,+00◦,32,2.5,5
18,Draconids (009 DRA),Oct 06–Oct 10,Oct 08,195.◦4,262◦,+54◦,20,2.6,Var
19,S. Taurids (002 STA),Sep 10–Nov 20,Oct 10,197◦,32◦,+09◦,27,2.3,5
20,δ-Aurigids (224 DAU),Oct 10–Oct 18,Oct 11,198◦,84◦,+44◦,64,3.0,2
21,ε-Geminids (023 EGE),Oct 14–Oct 27,Oct 18,205◦,102◦,+27◦,70,3.0,3
22,Orionids (008 ORI),Oct 02–Nov 07,Oct 21,208◦,95◦,+16◦,66,2.5,15
23,Leonis Minorids (022 LMI),Oct 19–Oct 27,Oct 24,211◦,162◦,+37◦,62,3.0,2
24,N. Taurids (017 NTA),Oct 20–Dec 10,Nov 12,230◦,58◦,+22◦,29,2.3,5
25,Leonids (013 LEO),Nov 06–Nov 30,Nov 17,235.◦27,152◦,+22◦,71,2.5,15
26,α-Monocerotids (246 AMO),Nov 15–Nov 25,Nov 21,239.◦32,117◦,+01◦,65,2.4,Var
27,Nov. Orionids (250 NOO),Nov 13–Dec 06,Nov 28,246◦,91◦,+16◦,44,3.0,3
28,Phoenicids (254 PHO),Nov 28–Dec 09,Dec 02,250.◦0,18◦,−53◦,18,2.8,Var
29,Puppid-Velids (301 PUP),Dec 01–Dec 15,(Dec 07),(25◦),123◦,−45◦,40,2.9,10
30,Monocerotids (019 MON),Dec 05–Dec 20,Dec 08,257◦,100◦,+08◦,41,3.0,2
31,σ-Hydrids (016 HYD),Dec 03–Dec 15,Dec 11,260◦,127◦,+02◦,58,3.0,3
32,Geminids (004 GEM),Dec 04–Dec 17,Dec 14,262.◦2,112◦,+33◦,35,2.6,120
33,Comae Ber. (020 COM),Dec 12–Dec 23,Dec 15,264◦,175◦,+18◦,65,3.0,3
34,Dec. L. Minorids (032 DLM),Dec 05–Feb 04,Dec 19,268◦,161◦,+30◦,64,3.0,5
35,Ursids (015 URS),Dec 17–Dec 26,Dec 22,270.◦7,217◦,+76◦,33,3.0,10

## 2. Convert relevant values to datetime
### Create 'Start Date' and 'End Date' columns from 'Activity' column

In [8]:
df['Start Date'] = df['Activity'].str[:6]
df['End Date'] = df['Activity'].str[9:]

In [9]:
df.head(3)

,Shower,Activity,Maximum Date,Maximum λ⊙,Radiant α,Radiant δ,V∞ km/s,r,ZHR,Start Date,End Date
0,Antihelion Source (ANT),Dec 10–Sep 10,March–April – late May-June,NaN,see Table 6,see Table 6,30,3.0,4,Dec 10,Sep 10
1,Quadrantids (010 QUA),Dec 28–Jan 12,Jan 04,283.◦16,230◦,+49◦,41,2.1,120,Dec 28,Jan 12
2,α-Centaurids (102 ACE),Jan 28–Feb 21,Feb 08,319.◦2,210◦,−59◦,56,2.0,6,Jan 28,Feb 21

### Add year and convert 'Start Date', 'End Date' to datetime

Pandas assigns 1900 as the year by default 

Manually assign years to dates in previous/following years using df.ix; create new columns for 'Start Date w/ Year', 'End Date w/ Year' because just using 'Start Date' or 'End Date' ends up referencing values that are already modified:

In [10]:
# df.ix[:1, 'Start Date'] = df['Start Date'] + ' 2015'
# df.ix[2:, 'Start Date'] = df['Start Date'] + ' 2016'

# produces something like Dec 10 2015 2016 - two appended dates

In [11]:
df.ix[:1, 'Start Date w/ Year'] = df['Start Date'] + ' 2015'
df.ix[2:, 'Start Date w/ Year'] = df['Start Date'] + ' 2016'

df.ix[:, 'End Date w/ Year'] = df['End Date'] + ' 2016'
df.ix[34:34, 'End Date w/ Year'] = df['End Date'] + ' 2017'

In [12]:
df['Start Date w/ Year'] = pd.to_datetime(df['Start Date w/ Year'], format='%b %d %Y')
df['End Date w/ Year'] = pd.to_datetime(df['End Date w/ Year'], format='%b %d %Y')

In [13]:
df.head(3)

,Shower,Activity,Maximum Date,Maximum λ⊙,Radiant α,Radiant δ,V∞ km/s,r,ZHR,Start Date,End Date,Start Date w/ Year,End Date w/ Year
0,Antihelion Source (ANT),Dec 10–Sep 10,March–April – late May-June,NaN,see Table 6,see Table 6,30,3.0,4,Dec 10,Sep 10,2015-12-10,2016-09-10
1,Quadrantids (010 QUA),Dec 28–Jan 12,Jan 04,283.◦16,230◦,+49◦,41,2.1,120,Dec 28,Jan 12,2015-12-28,2016-01-12
2,α-Centaurids (102 ACE),Jan 28–Feb 21,Feb 08,319.◦2,210◦,−59◦,56,2.0,6,Jan 28,Feb 21,2016-01-28,2016-02-21

Drop redundant columns including 'Activity'

In [14]:
df.drop(['Start Date', 'End Date', 'Activity'], axis=1, inplace=True)

Drop Antihelion because it goes on ~all year and ZHR is 4

In [15]:
df.drop(0, inplace=True)

In [16]:
df.head(3)

,Shower,Maximum Date,Maximum λ⊙,Radiant α,Radiant δ,V∞ km/s,r,ZHR,Start Date w/ Year,End Date w/ Year
1,Quadrantids (010 QUA),Jan 04,283.◦16,230◦,+49◦,41,2.1,120,2015-12-28,2016-01-12
2,α-Centaurids (102 ACE),Feb 08,319.◦2,210◦,−59◦,56,2.0,6,2016-01-28,2016-02-21
3,γ-Normids (118 GNO),Mar 14,354◦,239◦,−50◦,56,2.4,6,2016-02-25,2016-03-28

## 3. Write function that takes date + returns next meteor shower name, date

Assume we'll force the user to pick a date on a calendar, so we'll get an input in datetime-friendly format, ex: 2016-10-05

Sort by start date to make searching easier

In [17]:
df.sort_values('Start Date w/ Year', inplace=True)

This puts the rows slightly out of order, so reindex the dataframe

In [18]:
df.index = range(len(df))

Things that don't work:

In [19]:
# def get_shower_date(day, month, year):
#     dt_query = datetime(year, month, day)
#     for i in range(len(df)):

#         print dt_query - df[i]['Start Date w/ Year']
#         # Returns a keyerror

#         print dt_query - df.ix[i, 'Start Date w/ Year']
#         if dt_query - df.ix[i, 'Start Date w/ Year'] < timedelta(days=0):
#             print 'Boom!'
#             # This actually works... But maybe not the pandas way

# get_shower_date(15, 9, 2016)

Get all the information of the next shower after the user's date. Returns the entire row.

In [20]:
def get_next_shower(day, month, year):
    dt_query = datetime(year, month, day)
    
    for index, row in df.iterrows():
        
        print row['Start Date w/ Year']
        
        if dt_query - row['Start Date w/ Year'] < timedelta(days=0):
            print '!!'
#             return row
        
next_shower_date = get_next_shower(15, 9, 2016)['Start Date w/ Year']

2015-12-28 00:00:00
2016-01-28 00:00:00
2016-02-25 00:00:00
2016-04-15 00:00:00
2016-04-16 00:00:00
2016-04-19 00:00:00
2016-05-03 00:00:00
2016-05-14 00:00:00
2016-06-22 00:00:00
2016-07-03 00:00:00
2016-07-12 00:00:00
2016-07-15 00:00:00
2016-07-17 00:00:00
2016-08-03 00:00:00
2016-08-28 00:00:00
2016-09-05 00:00:00
2016-09-09 00:00:00
2016-09-10 00:00:00
2016-10-02 00:00:00
!!

In [16]:
print get_next_shower(15, 9, 2016)

Shower                 Orionids (008 ORI)
Maximum Date                       Oct 21
Maximum λ⊙                           208◦
Radiant α                             95◦
Radiant δ                            +16◦
V∞ km/s                                66
r                                     2.5
ZHR                                    15
Start Date w/ Year    2016-10-02 00:00:00
End Date w/ Year      2016-11-07 00:00:00
Name: 18, dtype: object

To celebrate, we're making this tangible through a local website! 

(Turns out no one in the room knows how to use Django so this is getting postponed)