### Scope

Input: date

Output: date of next shower

### Steps

1. Create meteor-shower.csv
2. Write function that takes date
3. Update function to return next meteor shower name, date

In [2]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('meteor-shower.csv')
df.head(3)

,Shower,Activity,Maximum Date,Maximum λ⊙,Radiant α,Radiant δ,V∞ km/s,r,ZHR
0,Antihelion Source (ANT),Dec 10–Sep 10,March–April – late May-June,NaN,see Table 6,see Table 6,30,3.0,4
1,Quadrantids (010 QUA),Dec 28–Jan 12,Jan 04,283.◦16,230◦,+49◦,41,2.1,120
2,α-Centaurids (102 ACE),Jan 28–Feb 21,Feb 08,319.◦2,210◦,−59◦,56,2.0,6

In [28]:
df['Start Date'] = df['Activity'].str[:6]
df['End Date'] = df['Activity'].str[9:]

In [29]:
df.head(3)

,Shower,Activity,Maximum Date,Maximum λ⊙,Radiant α,Radiant δ,V∞ km/s,r,ZHR,Start Date,End Date
0,Antihelion Source (ANT),Dec 10–Sep 10,March–April – late May-June,NaN,see Table 6,see Table 6,30,3.0,4,Dec 10,Sep 10
1,Quadrantids (010 QUA),Dec 28–Jan 12,Jan 04,283.◦16,230◦,+49◦,41,2.1,120,Dec 28,Jan 12
2,α-Centaurids (102 ACE),Jan 28–Feb 21,Feb 08,319.◦2,210◦,−59◦,56,2.0,6,Jan 28,Feb 21

In [39]:
df['Start Date'] = pd.to_datetime(df['Start Date'], format='%b %d')
df['End Date'] = pd.to_datetime(df['End Date'], format='%b %d')
df.head(3)

,Shower,Activity,Maximum Date,Maximum λ⊙,Radiant α,Radiant δ,V∞ km/s,r,ZHR,Start Date,End Date
0,Antihelion Source (ANT),Dec 10–Sep 10,March–April – late May-June,NaN,see Table 6,see Table 6,30,3.0,4,1900-12-10,1900-09-10
1,Quadrantids (010 QUA),Dec 28–Jan 12,Jan 04,283.◦16,230◦,+49◦,41,2.1,120,1900-12-28,1900-01-12
2,α-Centaurids (102 ACE),Jan 28–Feb 21,Feb 08,319.◦2,210◦,−59◦,56,2.0,6,1900-01-28,1900-02-21